---
http_interactions:
- request:
    method: post
    uri: https://sandbox.clearsale.com.br/api/auth/login
    body:
      encoding: UTF-8
      string: '{"Login":{"ApiKey":"your api key","ClientID":"client id","ClientSecret":"secret"}}'
    headers:
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Token":{"Value":"GX7XALXD","ExpirationDate":"2017-04-20T16:20:03.923984+00:00"}}'
  recorded_at: Wed, 19 Apr 2017 17:12:21 GMT
recorded_with: VCR 3.0.3
