---
http_interactions:
- request:
    method: post
    uri: https://sandbox.clearsale.com.br/api/auth/login
    body:
      encoding: UTF-8
      string: '{"Login":{"ApiKey":"your api key","ClientID":"bomberg","ClientSecret":"dJyXgGfwO3"}}'
    headers:
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Token":{"Value":"L5TJIQX4","ExpirationDate":"2017-06-07T16:24:05.7510375+00:00"}}'
  recorded_at: Tue, 06 Jun 2017 17:42:59 GMT
- request:
    method: post
    uri: https://sandbox.clearsale.com.br/api/order/send
    body:
      encoding: UTF-8
      string: '{"Apikey":"your api key","LoginToken":"L5TJIQX4","AnalysisLocation":"USA","Orders":[{"ID":"TEST702520225","Date":"2017-03-01T13:48:08-0800","Email":"sagar@sellect.com","TotalItems":1995.0,"TotalOrder":19.95,"TotalShipping":0.0,"IP":"69.193.133.38","Currency":"usd","Payments":[{"Date":"2017-03-01T13:48:08-0800","Type":1,"CardType":3,"CardEndNumber":"4242","CardHolderName":"Sagar
        Rathi","CardExpirationDate":"09/20","Amount":19.95}],"BillingData":{"ID":372,"Type":1,"Name":"Sagar
        Rathi","Address":{"AddressLine1":"3206 29th street #4B","AddressLine2":"4B","City":"Astoria","State":"NY","Country":"UNITED
        STATES","ZipCode":"11106"},"Phones":[{"Type":6,"AreaCode":"474","Number":"140296"}]},"ShippingData":{"ID":371,"Type":1,"Name":"Sagar
        Rathi","Address":{"AddressLine1":"3206 29th street #4B","AddressLine2":"4B","City":"Astoria","State":"NY","Country":"UNITED
        STATES","ZipCode":"11106"},"Phones":[{"Type":6,"AreaCode":"474","Number":"140296"}]},"Items":[{"ProductId":7,"ProductTitle":"Navy
        Hopsack Blazer","Price":1995.0,"Quantity":1}],"SessionId":"Apr 18th 2017 Tue
        06:52 PM UTC"}]}'
    headers:
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Orders":[{"ID":"TEST702520225","Status":"NVO","Score":""}],"TransactionID":"c6bd451a-2ade-4242-9ba3-6eb040336d4b"}'
  recorded_at: Tue, 06 Jun 2017 17:43:30 GMT
recorded_with: VCR 3.0.3
