---
http_interactions:
- request:
    method: post
    uri: https://sandbox.clearsale.com.br/api/auth/login
    body:
      encoding: UTF-8
      string: '{"Login":{"ApiKey":"your api key","ClientID":"bomberg","ClientSecret":"dJyXgGfwO3"}}'
    headers:
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Token":{"Value":"QB9RBEOF","ExpirationDate":"2017-06-07T18:26:05.0186631+00:00"}}'
  recorded_at: Tue, 06 Jun 2017 19:01:08 GMT
- request:
    method: post
    uri: https://sandbox.clearsale.com.br/api/order/get
    body:
      encoding: UTF-8
      string: '{"Apikey":"your api key","LoginToken":"QB9RBEOF","AnalysisLocation":"USA","Orders":["TEST702520225"]}'
    headers:
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Orders":[{"ID":"TEST702520225","Status":"AMA","Score":"99.9900"}]}'
  recorded_at: Tue, 06 Jun 2017 19:01:38 GMT
recorded_with: VCR 3.0.3
