---
http_interactions:
- request:
    method: post
    uri: https://sandbox.clearsale.com.br/api/auth/login
    body:
      encoding: UTF-8
      string: '{"Login":{"ApiKey":"5C3E91A7-D450-4977-A377-894C92A877C3","ClientID":"bomberg","ClientSecret":"dJyXgGfwO3"}}'
    headers:
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Token":{"Value":"641XQE7S","ExpirationDate":"2017-06-07T14:22:05.9062956+00:00"}}'
  recorded_at: Tue, 06 Jun 2017 15:23:30 GMT
- request:
    method: post
    uri: https://sandbox.clearsale.com.br/api/order/get
    body:
      encoding: UTF-8
      string: '{"Apikey":"5C3E91A7-D450-4977-A377-894C92A877C3","LoginToken":"641XQE7S","AnalysisLocation":"USA","Orders":["TEST702520515"]}'
    headers:
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Orders":[{"ID":"TEST702520515","Status":"AMA","Score":"89.7100"}]}'
  recorded_at: Tue, 06 Jun 2017 15:24:01 GMT
recorded_with: VCR 3.0.3
