---
http_interactions:
- request:
    method: post
    uri: https://sandbox.clearsale.com.br/api/auth/login
    body:
      encoding: UTF-8
      string: '{"Login":{"ApiKey":"your api key","ClientID":"client id","ClientSecret":"secret"}}'
    headers:
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Token":{"Value":"9V5VXCIV","ExpirationDate":"2017-04-20T21:22:31.1248176+00:00"}}'
  recorded_at: Wed, 19 Apr 2017 21:22:31 GMT
- request:
    method: post
    uri: https://sandbox.clearsale.com.br/api/order/get
    body:
      encoding: UTF-8
      string: '{"Apikey":"your api key","LoginToken":"9V5VXCIV","AnalysisLocation":"USA","Orders":["TEST702520515"]}'
    headers:
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Orders":[{"ID":"TEST702520515","Status":"AMA","Score":"89.7100"}]}'
  recorded_at: Wed, 19 Apr 2017 21:22:31 GMT
recorded_with: VCR 3.0.3
